@media (min-width: 650px) {
  .main__container {
    width: 600px;
    height: 40rem;
  }

  .productCard__container {
    height: 500px;
    flex-direction: row;
  }

  .productCard--img {
    height: 40rem;
    /* Three values: flex-grow | flex-shrink | flex-basis */
    flex: 1 0 50%;
  }

  .productCard--img img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .productCard--text {
    padding: 3.5rem;
  }

  .addToCart--text{
    font-size: 1.1rem;
  }
}